[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "olialge.github.io"]
	path = olialge.github.io
	url = https://github.com/olialge/olialge.github.io.git
	branch = master
